<!DOCTYPE html>
<html>
    <head></head>
    <body>
        Hello ! To confirm your account you need to click here :
            <a href="{{ url('homepage', {'token_nopwd': token }) }}">YouSign</a>
    </body>
</html>
