<!DOCTYPE html>
<html>
    <head></head>
    <body>
        Hello ! To confirm your account and set your password you need to click here :
            <a href="{{ url('homepage', {'token': token }) }}">YouSign</a>
    </body>
</html>
